<nav class="navbar navbar-expand-lg navbar-light bg-light m-0 p-1">
    <a class="navbar-brand" href="#">TASK</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto ">
        <li class="nav-item active">
          <a class="nav-link" href="#">{{file_id}} <span class="sr-only">(current)</span></a>
        </li>

      </ul>
      <div class=" my-2 my-lg-0">
          <button class="btn btn-light p-3 " (click)="onSubmit()"> Save </button>
          <button class="btn btn-secondary p-3" (click)="onReset()"> Reset </button>
      </div>
    </div>
  </nav>
<div class="row p-2 codeArea" >

      <div class="navbar navbar-expand-lg navbar-light list_files">
        
          <div class="flex-column">
              
              <div class="container m-2">
                  <tr *ngFor="let file of files"><td class="mr-2"><a href="#" (click)="displayCode(file.code,file._id)" >{{file._id}} </a></td><td><i class="fa fa-close p-2 text-white" (click)="onRemove(file._id)"></i></td></tr> 
                 
                </div>
                
          </div>
        </div>
  <div class="col-md-6 col-xl-6 col-sm-9 code" contenteditable="true">
    <div contenteditable="false">
        <h3><u>Code</u></h3>
    </div>
    <div #writtenCode>
        Begin Writing your code here.
    </div>
  </div>
  <div class="col-md-3 col-xl-3 col-sm-3 output">
      <u>Console Output</u>

  </div>


</div>